# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"], format = '%Y-%m-%d')

In [4]:
# Set the date column as the dataFrame index
df.set_index("date", drop = False, inplace = True)

In [5]:
# Preview dataframe
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [6]:
# Drop the date column
clean_df = df.drop(columns = "date")

In [7]:
# Preview dataframe
clean_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [8]:
from scipy import stats

In [9]:
# Filter data for desired months
# June temperatures
june_temp_df = df.loc[df["date"].dt.month == 6, :]
june_df = june_temp_df.drop(columns = "date")
# December temperatures
december_temp_df = df.loc[df["date"].dt.month == 12, :]
december_df = december_temp_df.drop(columns = "date")

In [10]:
# Preview June_df dataframe
june_df.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [11]:
# Preview December_df dataframe
december_df.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [12]:
# Identify the average temperature for June
june_average_temp = june_df["tobs"].mean()
june_average_temp

74.94411764705882

In [13]:
# Identify the average temperature for December
december_average_temp = december_df["tobs"].mean()
december_average_temp

71.04152933421226

In [14]:
# Create collections of temperature data
grouped_by_date = clean_df.groupby(["date"])
temperature_by_date = grouped_by_date["tobs"].mean()
# Create dataframe from data above
temperature_by_date_df =  pd.DataFrame({"Average Temperature": temperature_by_date})
# Preview dataframe
temperature_by_date_df.head()

            Average Temperature
date
2010-01-01            69.714286
2010-01-02            67.000000
2010-01-03            74.000000
2010-01-04            75.000000
2010-01-05            74.500000

In [15]:
# Run paired t-test
stats.ttest_rel(june_df["tobs"], december_df["tobs"])

ValueError: unequal length arrays

### Analysis

In [ ]:
# 1. The paired T-Test was not successful because of the unequal length of the arrays for the June and December data sets.
# 2. If we have the same dataset lengths, I will use the paired T-Test because we have the same test group (stations) but
#    just testing them in different points of time.